body


#titulo{
    color: brown;
    text-align: center;
    font-size: 40px;
}

.texto1 {
    color: brown;
    background-color:beige;
text-align: center;
font-size: 30px;
}

.texto2 {

    color: rgb(95, 65, 26);
    background-color:beige;
    text-align: center;
font-size: 30px;
}



